::-webkit-scrollbar-thumb {
  background: #666666;
  border-radius: 5px
}

::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 5px
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: #fff;
}

body {
  font-size: 16px;
  font-family: "Segoe UI", "Microsoft YaHei", Helvetica, sans-serif, Arial;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.prettyprint {
  background-color: #f0f0f0 !important;
}

pre {
  background-color: #f0f0f0 !important;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  overflow: scroll;
  border-radius: 8px;
  width: 95%;
  max-height: 400px;
  margin: 10px auto;
  white-space: pre-wrap;
  padding: 20px !important;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #34a58e;
}

.title {
  margin-left: 30px;
}

.vl {
  height: auto;
  border-left: 2px solid;
  color: #00000020;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.headerbar {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  background-color: white;
}

.leftheader {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: flex-start;
}

.header-button {
  display: flex;
  align-items: center;
  background-color: inherit;
  height: 3em;
  padding: 5px 10px;
}

.header-button:hover {
  background-color: #80808040;
  transition: 0.2s ease-out;
}

.abs {
  position: absolute;
  z-index: 3;
}

.sidebar {
  left: 0;
  width: 30%;
  display: flex;
  justify-content: flex-end;
}

.side {
  right: 0;
  width: 100%;
  max-width: 27em;
}

.author {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.author img {
  min-width: 100px;
  width: 20%;
  border-radius: 9999px;
  box-shadow: .5px .5px 8px 1px #80808040;
  background-color: #80808040;
}

.author span {
  margin: 10px;
}

.main {
  background-color: #00000020;
  width: 100%;
  display: flex;
  padding-top: 1em;
}

.content {
  right: 0;
  width: 70%;
  display: flex;
}

.center {
  width: 60%;
}

.container {
  height: min-content;
  margin: 5px 1em;
  padding: 5px 20px;
  border: .1px solid #80808040;
  border-radius: 10px;
  box-shadow: .5px .5px 8px 1px #80808040;
  background-color: white;
}

.page {
  display: flex;
  justify-content: center;
}

.extend {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  width: 1em;
  height: 1em;
  padding: 0.5em;
  border: .1px solid #80808040;
  border-radius: 5px;
  box-shadow: .5px .5px 8px 1px #80808040;
  background-color: white;
}

.page-number {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  width: 1em;
  height: 1em;
  padding: 0.5em;
  border: .1px solid #80808040;
  border-radius: 5px;
  box-shadow: .5px .5px 8px 1px #80808040;
  background-color: white;
}

.footer {
  display: grid;
  justify-content: center;
}